div.alphabet {
	clear:both;
	position:relative;
	background:#ddd;
	
}

@media screen and (max-width:640px){
	div.alphabet {
		text-align:center;
		
	}
}

div.alphabet ul {
	display:inline-block;
	margin:0;
	padding:0;
	list-style:none;
}

div.alphabet li {
	display:inline-block;
}

div.alphabet a {
	display:inline-block;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	box-sizing:content-box;
	padding:0.6em 0.1em;
	min-width:2.3em;
	color:#333 !important;
	border:1px solid transparent;
	border-radius:2px;
}

div.alphabet a:hover {
	color:#FFF !important;
	border:1px solid #111;
	background-color:#585858;
	background:linear-gradient(to bottom, #585858 0%, #111 100%);
}

div.alphabet a:active {
	outline:none;
	background-color:#2b2b2b;
	background:linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
	box-shadow:inset 0 0 3px #111;
} 

div.alphabet a.empty {
	color:#888 !important;
}

div.alphabet a.active,
div.alphabet a.active.empty {
	color:#fff !important;
	border:1px solid rgb(64,196,255);

	background:rgb(64,196,255);
}

div.alphabet .alphabet-info-display {
	margin-right:0.5em;
}

div.alphabet div.alphabet-info {
	position:absolute;
	border:1px solid #111;
	background-color:#585858;
	background:linear-gradient(to bottom, #585858 0%, #111 100%);
	border-radius:2px;
	color:#FFF;
	text-decoration:none;
	margin-top:0.2em;
	padding:0.2em 0.4em;
	text-align:center;
	opacity:0;
	z-index:9999;
}


tr.alphabet-group, tr.alphabet-group:hover {
	background-color:rgba(0,0,0,0.15) !important;
}


/* my custom code Raju Shetty*/

div.dataTables_filter input {
  
   width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;  
    background-color: white;
    padding: 7px 20px 7px 10px;
    color:#ccc;
  
}




.alphabet-container {
   float: left;
   width: 13%;   
   height: 100vh;
   overflow: scroll;
  
}


.alphabet-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.alphabet-container::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.alphabet-container::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.alphabet-container::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.alphabet-container::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.alphabet-container::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.alphabet-container::-webkit-scrollbar-track:hover {
  background: #666666;
}
.alphabet-container::-webkit-scrollbar-track:active {
  background: #333333;
}
.alphabet-container::-webkit-scrollbar-corner {
  background: transparent;
}


.table-container {
   float: left;
   width: 87%;
}

.alphabet-container .alphabet-info,
.alphabet-container .alphabet-info-display { 
   display: none 
}

.alphabet-container .alphabet ul,
.alphabet-container .alphabet li,
.alphabet-container .alphabet a {
   display: block;
}

.alphabet-container .alphabet {
   margin: 0 0 0 0;
}

.alphabet-group td:first-child::before {
   display:none !important;
}
div.dataTables_info{
display: none; 
}